.titulo {
  width: 75px;
  height: 35px;
  border-radius: 8px;
  color: white;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  margin-left: 30px;
}

.vermelho {
  background-color: #FF0000;
}

.verde {
  background-color: #008000;
}
@font-face {
    font-family: "Inter";
    src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
}